/saves
/logs
/local
/crash-reports
/.vscode
/mods
/modernfix
.curseclient
usercache
usernamecache
options.txt
usercache.json
usernamecache.json
user-prefs.json
minecraftinstance.json
screenshots
/ESM
/config/jei/world/local
/schematics
/config/fabric/indigo-renderer.properties
/config/flywheel-client.toml
/config/attributefix.json
/config/embeddium-fingerprint.json
/config/embeddium-options.json
*.dll
*.dll.x
/downloads
*.log